<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>PLACE YOUR OWN CLIENT ID/string>
	<key>REVERSED_CLIENT_ID</key>
	<string>PLACE YOUR OWN CLIENT ID</string>
	<key>API_KEY</key>
	<string>PLACE YOUR OWN API KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>PLACE YOUR OWN SENDER ID</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atilsamancioglu.FirebaseInstaClone</string>
	<key>PROJECT_ID</key>
	<string>instacloneios-f521c</string>
	<key>STORAGE_BUCKET</key>
	<string>instacloneios-f521c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>PLACE YOUR OWN APP ID</string>
	<key>DATABASE_URL</key>
	<string>PLACE YOUR OWN DATABASE URL</string>
</dict>
</plist>
