<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>348370064403-sjsrl5flnrfsh2omtd2nas3h4ikrl9gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348370064403-sjsrl5flnrfsh2omtd2nas3h4ikrl9gt</string>
	<key>API_KEY</key>
	<string>AIzaSyDDvipKWsqzhLCeFf0W6-VOaeHwDgXbuEM</string>
	<key>GCM_SENDER_ID</key>
	<string>348370064403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atilsamancioglu.FirebaseInstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-da5d3</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-da5d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348370064403:ios:c334c2efef67dfd3</string>
	<key>DATABASE_URL</key>
	<string>https://instaclonefirebase-da5d3.firebaseio.com</string>
</dict>
</plist>